.thumbnail img{
    width: 100%;
}
.thumbnail{
    padding: 0;
}

.btn-lg{
    background-color: white;
}
.btn-lg:hover{
    background-color: wheat;
}
.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
    display: inline;
}